* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-size: 2vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  background: #000;
  color: white;
}

:not(:root):-webkit-full-screen::backdrop {
  background: #000;
}

:fullscreen {
  background: #000;
  color: white;
}

:-webkit-full-screen {
  background: #000;
  color: white;
}

:-moz-full-screen {
  background: #000;
  color: white;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  /* overflow: hidden; */
}

kbd {
  background-color: rgb(83, 83, 83);
  border-style: solid;
  border-color: white;
  border-width: 1px 2px 2px 1px;
  padding: 0 2px;
  min-width: 40px;
  border-radius: 4px;
  margin: 3px 0;
  text-align: center;
  display: inline-block;
  font-family: inherit;
  /* color: black; */
}

#viewer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  /* position: absolute; */
  /* flex-grow: 1; */
}

img {
  z-index: -1;
  object-fit: scale-down;
  max-width: 100%;
  max-height: 100%;
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  flex-grow: 1;
  /* text-align: center; */
  /* margin: 0 auto; */
  /* display: block; */
}

body {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: stretch; */
  flex-direction: row;
}

#viewer:after {
  content: attr(data-filename);
  display: block;
  position: sticky;
  bottom: 0;
  /* width: 100%; */
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: 'ubuntu mono', monospace;
  padding: 10px 0;
  line-height: 1rem;
}

html:-moz-full-screen,
html:-webkit-full-screen,
html:fullscreen {
  cursor: none;
  background: #212121;
}

main {
  padding: 3vh 6vw;
  line-height: 1.6;
  font-size: 1.6rem;
  flex-grow: 1;
}

input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
}

.no-cursor {
  cursor: none;
}

li {
  position: relative;
}
